node_modules/
_frontend/
/_frontend
/Paschal Tinko Ko Front End Archive
Paschal Tinko Ko Front End Archive/
/old_tkk-buyer
tkk-test-buyer/
tkk-test-seller/
/tkk-test-buyer
/tkk-test-seller
/tkk-general
/tkk-general
old_tkk-buyer/
/tkk-buyer
tkk-buyer/
/tkk-seller
tkk-seller/
/tkk-admin
tkk-admin/
# /assets
# assets/
